{% extends "layouts/base.njk" %}

{% block content %}

  {{
    appDocumentHeader({
      caption: caption,
      title: title,
      description: description
    })
  }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ content | safe }}
    </div>
  </div>

{% endblock %}
