{% extends "layouts/base.njk" %}

{% block content %}

  {{
    appDocumentHeader({
        caption: caption,
        title: title,
        description: description
    })
  }}

  {% if content | trim %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        {{ content | safe }}
      </div>
    </div>
  {% endif %}

  {{
    appDocumentList({
        headingLevel: 2,
        items: collections.posts | reverse | sliceFromCollection(10)
    })
  }}

  {{
    appRelated({
        title: "All posts",
        items: [{
            text: "View all posts",
            href: "/posts/"
        }]
    })
  }}

{% endblock %}
