@use "pkg:@x-govuk/nhsuk-eleventy-plugin";
@use "pkg:nhsuk-frontend/lib/highlighter/styles";

.nhsuk-card-group__item:last-child .nhsuk-card--secondary {
  box-shadow: none;
  border-bottom: 0;
}

.app-mermaid {
  margin: 0 0 24px;
  overflow-x: auto;
  text-align: center;
  background: none;
  font-family: "Frutiger W01", arial, sans-serif;
}
